<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieadda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.BookmarkActivity"></activity>
        <activity android:name=".ui.MoreTrendingMoviesActivity" />
        <activity android:name=".ui.MoreTrendingPersonActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.AppInfoActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.GenerListActivity" />
        <activity android:name=".ui.AllDetailActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>